<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top Restaurants in Taiwan</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container justify-content-between">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="Top Restaurants">
        {{#if isAuthenticated}}{{user.name}}'s{{else}}Top{{/if}} Restaurants
      </a>
      {{#if isAuthenticated}}
      <a href="/users/logout" class="btn btn-info text-white">Logout</a>
      {{/if}}
    </div>
  </nav>
</head>

<body>
  <div class="banner"></div>
  
  {{!-- restaurant list --}}
  {{{body}}}
  <script src='/javascripts/jquery-3.3.1.js'></script>
  <script src='/javascripts/popper.js'></script>
  <script src='/javascripts/bootstrap.js'></script>
</body>

</html>